<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <app-formarray3></app-formarray3> -->
<!-- <app-getservice></app-getservice> -->
<!-- <app-material></app-material> -->
<!-- <app-formarray></app-formarray> -->
<!-- <app-form-array1></app-form-array1> -->
<!-- <app-formarray2></app-formarray2> -->
<router-outlet></router-outlet>